

.search-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 400px;

}

.search-header {
  display: flex;
  flex-direction: row-reverse;
}

.search-input {
  padding: 10px;
}

.search-button-container {

}


