
<mat-sidenav #sidenav mode="side" opened="{{isShowSearch$ | async}}" class="search-sidenav">
  <div class="search-header">
    <span class="x-search-button"><img src="./assets/images/close.svg" (click)="onClickCloseSearch()"
                                       width="24" height="24" alt="close"></span>
  </div>
  <form class="search-form">
    <mat-form-field class="search-input">
      <label>
        <input matInput placeholder="Enter address" #searchBar name='searchBar' [(ngModel)]="searchAddress"/>
      </label>

    </mat-form-field>
    <span class="search-button-container">
      <button mat-raised-button (click)="getCode(searchAddress)">Search</button>
    </span>
  </form>

</mat-sidenav>

