<!--<div class="search-container">-->

<!--</div>-->
<!--<div class="results-container">-->
<!--  <div *ngIf="searchResults$">-->
<!--    {{searchResults$.lat}}{{searchResults$.lon}}-->
<!--  </div>-->
<!--</div>-->


<mat-sidenav #sidenav mode="side" opened="{{isShowSearch$ | async}}" class="search-sidenav">
  <div class="search-header">
    <span class="x-search-button"><img src="./../../../assets/images/close.svg" (click)="onClickCloseSearch()"
                                       width="24" height="24"></span>
  </div>
  <form class="search-form">
    <mat-form-field class="search-input">
    <input matInput placeholder="Enter address" #searchBar name='searchBar' [(ngModel)]="searchAdress" />
    </mat-form-field>
    <button mat-raised-button (click)="getCode(searchAdress)">Search</button>
  </form>

</mat-sidenav>

