

.search-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  //background: rgba(255, 0, 0, 0.5);
}

.search-header {
  display: flex;
  flex-direction: row-reverse;
}


