<mat-sidenav-container class="search-sidenav-container">
  <mat-sidenav-content>
    <div class="app-container">
      <div class="instructions-container">
        <app-instructions-display></app-instructions-display>
        <app-instructions-voice></app-instructions-voice>
      </div>
      <app-search-page></app-search-page>
      <div class="map-container">
        <app-map></app-map>
      </div>

      <div class="controlBarContainer">
        <app-control-bar></app-control-bar>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="route-summary-container2">
  <app-route-summary-display></app-route-summary-display>
</div>
