.search-sidenav-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.app-container {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

}

.map-container {
  height: calc(100% - 100px);
}

.controlBarContainer {
  height: 50px;

}

.instructions-container {
  height: 50px;
}

.route-summary-container2 {
  position: absolute;
  left: 2%;
  bottom: 100px;
  z-index: 100;
}
